openapi: 3.1.0
info:
  title: ExampleApp Unified API
  version: 1.0.0
  description: Master API definition for ExampleApp (Identity, Todos, Notes, Library)
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.example-app.com
    description: Production Server

tags:
  - name: Identity
    description: User authentication and management
  - name: Todos
    description: Todo list management
  - name: Notes
    description: Personal notes management
  - name: Library
    description: File library and synchronization

paths:
  # Identity
  /v1/auth/login:
    $ref: '../../domains/identity/components/paths/auth_login.yaml'
  /v1/auth/register:
    $ref: '../../domains/identity/components/paths/auth_register.yaml'
    
  # Todos
  /v1/todos:
    $ref: '../../domains/todos/components/paths/todos_list.yaml'
  /v1/todos/{id}:
    $ref: '../../domains/todos/components/paths/todos_detail.yaml'

  # Notes
  /v1/notes:
    $ref: '../../domains/notes/components/paths/notes_list.yaml'
  /v1/notes/{id}:
    $ref: '../../domains/notes/components/paths/notes_detail.yaml'

  # Library
  /v1/files:
    $ref: '../../domains/library/components/paths/files_list.yaml'
  /v1/sync:
    $ref: '../../domains/library/components/paths/sync.yaml'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # Aggregated Schemas (Optional, but good for Client SDKs)
    User:
      $ref: '../../domains/identity/components/schemas/User.yaml'
    Todo:
      $ref: '../../domains/todos/components/schemas/Todo.yaml'
    Note:
      $ref: '../../domains/notes/components/schemas/Note.yaml'
    File:
      $ref: '../../domains/library/components/schemas/File.yaml'
